{% extends 'base.html' %}

{% block title %} Blog {% endblock %}

{% block content %}
  <h1>BLOG ENTRIES</h1>
  <div class="blog-post-container">
  {% for post in posts %}
    <a href="{{post.get_absolute_url}}">
      <div class="blog-post-wrapper">
        <div class="blog-post">
          <div class="thumbnail-container">{{post.description|safe}}</div>
          <div class="blog-detail-container">
            <h2>
              {{post.title}}
            </h2>
            <p>
              <time datetime="{{post.created|date:"c"}}">
              {{post.created|date}}
              </time>
            </p>
          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </a>
  {% endfor %}
  </div>
{% endblock %}