{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{post.title}}</h1>
  </header>
  <div class="top-img-container">
    {{post.description|safe}}
  </div>
  <p class="blog-text">
    {{post.content|markdown}}
  </p>
  <p class="time-stamp">
    posted on
    <time datetime="{{post.created|date:"c"}}">
      {{post.created|date}}
    </time>
  </p>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'carmenvkrol-blog';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
</article>
{% endblock %}