/***HEADER MODIFICATION FOR BLOG***/
header#header {
  display: block;
  position: relative;
}

header#header .headerName h1 a{
  color: #FFFFFF;
}

header#header .headerName h1 a:hover {
  color: #BDD9FF;
}

#blog h1 {
  margin-top: 50px;
  text-align: center;
}

#blog article h1 {
  margin-bottom: 40px;
}

article {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
}

article h1 {
  margin-top: 75px;
  text-align: center;
}

article pre {
  margin-bottom: 30px;
  font-size: 1.0rem;
  font-size: 13px;
}

article p {
  margin-bottom: 30px;
  line-height: 1.5;
  font-size: 1.3rem;
  font-size: 18px;
}

article .top-img-container {
  margin-bottom: 50px;
}

article .top-img-container img {
  width: 100%;
}

.blog-post-container {
  margin: 20px auto 0 auto;
  max-width: 819px;
}

.blog-post-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-top: 30px;
  width: 250px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e7f1ff;
}

.blog-post-wrapper .overlay {
  visibility: hidden;
  opacity: 0;
}

.blog-post-wrapper:hover .overlay {
  visibility: visible;
  opacity: 0.5;
  cursor: pointer;
}

.blog-post-container a:nth-child(3n) .blog-post-wrapper {
  margin-right: 0;
}

.blog-post h2 {
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  color: #000000;
}

.blog-post p {
  color: #000000;
}

.blog-post .thumbnail-container img {
  height: 100%;
}

.blog-post .thumbnail-container {
  height: 200px;
  overflow: hidden;
}

.blog-detail-container {
  position: relative;
  min-height: 125px;
  background-color: #e7f1ff;
  padding: 5px 10px;
}

.blog-detail-container p {
  position: absolute;
  bottom: 0;
}

.blog-description {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 16px;
}

.blog-text {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 18px;
}

.time-stamp {
  text-align: right;
  font-size: 14px;
}

@media (max-width: 850px) {
  .blog-post-wrapper {
    display: block;
    margin: 40px auto;
  }

  .blog-post-wrapper:nth-child(3n) {
    margin: 40px auto;
  }
}

@media (max-width: 768px) {
  header#header { 
    background: #323232;
  }

  header#header .headerName h1 {
    font-size: 36rem;
    font-size: 36px;
  }
}